
form.auth {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    border-radius: 12px;
    background-color: white;
    text-align: center;

}

input:not([type="checkbox"]) {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;

}
label {
    text-align: left;
    margin-bottom: 5px;
    display: block;
}

