body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.nav-link {
  margin: 10px;
  padding: 5px;
  border-radius: 8px;
  text-decoration: none;
}

.nav-link:hover, .nav-link.active {
  background-color: rgb(57, 54, 231);
  color: white;
  text-decoration: none;
}

.btn-logout {
  border: none;
  padding: 10px;
  cursor: pointer;
}

.loading {
  background-color: red;
}


.unauthenticated-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}